python-telegram-bot[webhooks]==20.7
python-dotenv==1.0.1
aiohttp==3.9.5
cryptography==42.0.8
SQLAlchemy==2.0.32
psycopg==3.2.1
alembic==1.13.2
sentry-sdk==2.8.0
openpyxl==3.1.5
pytest==7.4.4
pytest-asyncio==0.21.1